table {
  margin-bottom: 10px;
}

table.period_sales th,
table.period_sales td,
table.insurance th,
table.insurance td,
table.payment th,
table.payment td {
  width: 100px;

  font-weight: 700;
  text-align: center;

  border: 1px solid black;

  vertical-align: middle;
}

table a{
  font-weight: 700;
  color: black;
  text-decoration: underline;
}
table a:hover{
  font-weight: 900;
  color: black;
  text-decoration: underline;
}
table.period_sales th {
  background-color: #ffff99;
}

table.insurance th {
  background-color: #c6e0b4;
}
table.payment th {
  background-color: #bdd7ee;
}

table.payment th.double {
  width: 200px;
}

table td.disable {
  background-color: #bfbfbf;
}
