{% extends "base.html" %}
{% load static%}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/static.css' %}">
{% endblock css %}
{% block content %}
<a class='h1 static_title' href='{% url "home" %}'>大原則</a>
<ol>
    <li>너 자신을 알라</li>
    <li>하루하루를 즐기며 살아라. 진정 후회없으며 다른 사람들의 삶에 감사하는 가장 훌륭한 방법은 인생을 즐기는 것이다.</li>
    <li>진실을 보는 것을 두려워 말라. 네가 진실을 보려 하지 않는다면 진실이 너를 심판하려 할 것이다.</li>
    <li>네가 행복할 수 있는 길은 감사, 사랑, 우정, 믿음, 용기, 감동, 자비 그리고 희망과 성취에서 뿐이다. 그리고 무엇보다 행복은 건강에서 나옴을 잊지 말라.</li>
    <li>선과 악은 실존한다. 겸손, 자비, 사랑을 추구하고 교만, 탐욕, 분노를 주의하라. 믿음과 소망, 사랑을 실천하라.</li>
    <li>너는 단 한 명의 여자와만 아이를 가질 수 있으며, 혼전순결해야 한다. 그러니 영혼에 대한 죄를 짓지 말라.</li>
    <li>나라를 사랑하는 것이 네 의무다. 자유 민주주의 평화의 가치를 지키는 사람이 돼라.</li>
    <li>너는 티끌만한 존재임을 잊지 말라. 항상 겸손하라. 겸손하기 힘들다면 우주를 떠올려라.</li>
    <li>너는 타인에게 중요한 존재임을 잊지 말라. 신중하게 행동하라. 신중하기 어렵다면 가족과 친구들을 떠올려라.</li>
    <li>규칙을 지키는 것이 네게 더 많은 자유를 줌을 잊지 말라.</li>
    <li>선불교가 너의 종교다.</li>
    <li>삶의 고통은 피할 수 없다. 그러니 맞서 싸워라. 강한 사람이 돼라.</li>
    <li>너는 죽으며, 죽음이 있기에 삶이 있음을 잊지 말라. 가슴 속에 죽음을 항상 간직하라.</li>
    <li>네가 죽어도 세상은 돌아감을 받아들여라.</li>
    <li>인간은 신이 되지 못한다. 오만함을 주의하라.</li>
    <li>올바른 길이 있으니, 느리더라도 똑바로 걸어라. 그 길만이 의미있다.</li>
    <li>스스로에게 줄 수 있는 진정한 선물은 자기 자신 뿐임을 잊지 말라.</li>
    <li>강한 사람만이 약한 사람을 도와줄 수 있으며, 강한 사람이 힘든 시기에 살아남는다.</li>
    <li>진정한 의미에서 삶이란 죽는 날 죽음을 의연히 받아들이기 위해서 사는 것이다.</li>
    <li>이 모든 진실들 속에서 네게 진정한 만족감을 줄 수 있는 길은 정해져 있으며 그걸 운명이라 한다. 그 운명을 사랑하라.</li>
<ol>
{% endblock %}
{% block footer %}
{% include "modules/footer.html" %}
{% endblock footer %}