#basic Resource!
!src/basic.xlsx
!src/data_load.xlsx

#Except basicResource!
src/
*.xlsx
*.log

db.sqlite3

*test/*
*.env
uwsgi.ini
*DS_store
*.pem

scarnote.md

staticfiles/

# cache
*/__pycache__/*
__pycache__/*
.pytest_cache/*
*/*/__pycache__/*
*/*/*/__pycache__/*
