[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
django-environ = "*"
django-cors-headers = "*"
django-jquery = "*"
django-formset-js = "*"
django-debug-toolbar = "*"
django-extensions = "*"
argon2-cffi = "*"
openpyxl = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
sphinx = "*"
sphinx-autobuild = "*"

[requires]
python_version = "3.8"
