.custom_modal_background {
  z-index: 20;
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);

  background: rgba(0, 0, 0, 0.5);

  animation-duration: 0.5s;
  animation-name: dissolve;
}

.custom_modal {
  border-radius: 15px;
  padding: 20px;

  border: 1px solid #000;
}
.modal-body > div {
  margin-bottom: 10px;
}

.custom_modal label {
  display: flex;
  justify-content: flex-start;

  width: 100px;
}

.custom_modal input[type="checkbox"] {
  border-radius: 0px;
  width: 20px;
  height: 20px;

  border: 1px solid black;
}

p.modal_sector_info {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;
}

.modal_inputs {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.modal_inputs > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 220px;
  margin-bottom: 5px;
}

.modal_inputs > div > label {
  width: 80px;
}

.modal_inputs > div > input[type="text"],
.modal_inputs > div > input[type="number"],
.modal_inputs > div > input[type="date"],
.modal_inputs > div > input[type="text"],
.modal_inputs > div > select {
  width: 140px;
}

.modal_radios,
.modal_checkboxes {
  display: flex;
  align-items: center;
}

.modal_radios > div,
.modal_checkboxes > div {
  display: flex;
  align-items: center;
}

/* .modal_checkboxes > div {
  margin-right: 30px;
} */

.modal_radios label {
  width: auto;
  margin-left: 10px;
  margin-right: 30px;
}

.modal_checkboxes label {
  width: auto;
  margin-right: 10px;
}

.modal_additional_info_box {
  /* justify-content: flex-start !important; */
}

.modal_additional_info_label {
  font-weight: 600;
}

.modal_additional_info {
  width: 140px;

  font-weight: 600;
  text-align: center;

  color: var(--orange);
}
