p {
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

form > div {
  margin-right: 20px;
}

form > div:last-child {
  margin-right: 0;
}
