main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(var(--vh) * 100);
}

img {
  width: 280px;
}

h2 {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;
}

form > input {
  width: 280px;
  height: 38px;
  margin-top: 5px;

  text-align: center;
}

form > button {
  width: 280px;
  margin-top: 10px;
}
