{% extends "base.html" %}
{% load formset_tags %}
{% load custom_filters %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/demand/edit_register.css' %}">
{% endblock css %}
{% block content %}
<form id="formset" method="POST" data-formset-prefix="{{order_formset.prefix}}">
    {% csrf_token %}
    <h2>RO [{{register.RO_number}}]</h2>
    <div id="edit_special_register_form">
        {{edit_special_register_form.as_div}}
    </div>
    <div id="register_form">
        {{register_form.as_div}}
    </div>
    {{order_formset.management_form}}
    <h2>INFO</h2>
    <div id="edit_order_formset">
        {% for order_form in order_forms %}
        {% with order_form.as_div as order_form_div and payment_forms|index_form:forloop.counter0 as payment_form_div and charge_forms|index_form:forloop.counter0 as charge_form_div and deposit_forms|index_form:forloop.counter0 as deposit_form_div%}
        {% include "demand/forms/edit_order_form.html" %}
        {% endwith %}
        {% if not forloop.last%}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <h2>추가주문</h2>
    <div data-formset-body id="extra_order_formset">
    </div>
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form class="new_order">
            {{order_formset.empty_form.render}}
        </div>
        {% endescapescript %}
    </script>
    <input id="add_button" type="button" class="btn btn-success" value="주문 추가하기" data-formset-add>
    <script>jQuery(function($) {
        $("#formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>
    <h2>비고</h2>
    <div id="register_note_form">
        {{register_note_form.note}}
    </div>
    <button id="complete" class="btn btn-dark">수정 완료</button>
</form>
{% endblock content %}
{% block inline_javascript %}
<script type="module" src="{% static 'js/edit_order.js' %}"></script>
{% endblock inline_javascript %}