{% extends "base.html" %}
{% load formset_tags %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/demand/edit_order.css' %}">
{% endblock css %}
{% block content %}
<form id="edit_order_form" method="POST">
    {% csrf_token %}
    {% with order_form.as_div as order_form_div and payment_form.as_div as payment_form_div and charge_form.as_div as charge_form_div and deposit_form.as_div as deposit_form_div%}
    {% include "demand/forms/edit_order_form.html" %}
    {% endwith %}
    <button id="complete" class="btn btn-dark">수정 완료</button>
</form>
{% endblock content %}
{% block inline_javascript %}
<script type="module" src="{% static 'js/edit_order.js' %}"></script>
{% endblock inline_javascript %}