{% extends "base.html" %}
{% load formset_tags %}
{% load custom_filters %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/demand/edit_register.css' %}">
{% endblock css %}
{% block content %}
<form id="formset" method="POST" data-formset-prefix="{{order_formset.prefix}}">
    {% csrf_token %}
    <h2>RO [{{register.RO_number}}]</h2>
    <div id="edit_special_register_form">
        {{edit_special_register_form.as_div}}
    </div>
    <div id="register_form">
        {{register_form.as_div}}
    </div>
    {{order_formset.management_form}}
    <h2>INFO</h2>
    <div data-formset-body id="order_edit_formset">
        {% for order_form in order_forms %}
        <h3>주문</h3>
        <div data-formset-form class="order_edit_formset_entity">
            {{order_form.render}}
        </div>
        <h3>결제 정보</h3>
        <div class='order_edit_formset_entity'>
            {{payment_forms|index_form:forloop.counter0}}
        </div>
        <h3>청구</h3>
        <div class="order_edit_formset_entity">
            {{charge_forms|index_form:forloop.counter0}}
        </div>
        <h3>입금</h3>
        <div class="order_edit_formset_entity">
            {{deposit_forms|index_form:forloop.counter0}}
        </div>
        {% if not forloop.last%}
        <hr>
        {% endif %}
        {% endfor %}
        <h2 id="additional_order">추가주문</h2>
    </div>
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form class="new_order">
            {{order_formset.empty_form.render}}
        </div>
        {% endescapescript %}
    </script>
    <input id="add_button" type="button" class="btn btn-success" value="주문 추가하기" data-formset-add>
    <script>jQuery(function($) {
        $("#formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>
    <h2>비고</h2>
    <div id="register_note_form">
        {{register_note_form.note}}
    </div>
    <button id="complete" class="btn btn-dark">수정 완료</button>
</form>
{% endblock content %}
{% block inline_javascript %}
<script type="module" src="{% static 'js/order_edit.js' %}"></script>
{% endblock inline_javascript %}