{% extends "base.html" %}
{% load formset_tags %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/demand/edit_order.css' %}">
{% endblock css %}
{% block content %}
<form id="edit_order_form" method="POST">
    {% csrf_token %}
    <h3>주문</h3>
    <div>{{order_form.as_div}}</div>
    <h3>출고</h3>
    <div>{{payment_form.as_div}}</div>
    <h3>청구</h3>
    <div>{{charge_form.as_div}}</div>
    <h3>입금</h3>
    <div>{{deposit_form.as_div}}</div>
    <button id="complete" class="btn btn-dark">수정 완료</button>
</form>
{% endblock content %}
{% block footer%}
{% include "modules/footer.html" %}
{% endblock footer%}