{% extends "base.html" %}
{% load formset_tags %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/demand/new_register.css' %}">
{% endblock css %}
{% block content %}
<form id="formset" method="POST" data-formset-prefix="{{order_formset.prefix}}">
    {% csrf_token %}
    <h2>차량 정보</h2>
    <div id="register_form">
        {{register_form.as_div}}
    </div>
    {{order_formset.management_form}}
    <h2>주문 정보</h2>
    <div data-formset-body id="order_formset">
        {% for form in order_formset %}
        <div data-formset-form class="new_order">
            {{form.as_div}}
        </div>
        {% endfor %}
    </div>
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form class="new_order">
            {{order_formset.empty_form.as_div}}
        </div>
        {% endescapescript %}
    </script>
    <input id="add_button" type="button" class="btn btn-success" value="주문 추가하기" data-formset-add>
    <script>jQuery(function($) {
        $("#formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>
    <h2>비고</h2>
    <div id="register_note_form">
        {{register_note_form.note}}
    </div>
    <button id="complete" class="btn btn-dark">완료</button>
</form>
{% endblock content %}