{% extends "base.html" %}
{% load custom_filters %}{% load static%} {% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/demand/search.css' %}">
{% endblock css %} {% block content %}
<form method="GET">
  {{register_filter.form.as_div}}
  {{order_filter.form.as_div}}
  <div id="special_functions">
    <input type="submit" value="검색" class="btn btn-dark special_function">
    <a class="btn btn-success special_function" href="{{download_url}}" download>엑셀 다운로드</a>
    <a class="btn btn-primary special_function" href="{{table_view_url}}" target="_blank">표로 보기</a>
  </div>
</form>
{% for order in orders %}
{% include "demand/modules/register_for_order.html" %}
{% endfor %}
{% with request.GET as params %}
  {% with params|remove_page_param as params_without_page %}
  <div class="pagination">
    <span class="step-links">
    {% if orders.has_previous %}
      <a href="?{{ params_without_page }}&page=1">&laquo; first</a>
      <a href="?{{ params_without_page }}&page={{orders.previous_page_number}}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
    </span>
    {% if orders.has_next %}
      <a href="?{{ params_without_page }}&page={{orders.next_page_number}}">next</a>
      <a href="?{{ params_without_page }}&page={{orders.paginator.num_pages}}">last &raquo;</a>
    {% endif %}
    </span>
  </div>
  {% endwith %}
{%endwith %}
{% endblock content %}
