{% extends "base.html" %}
{% load custom_filters %}{% load static%} {% block css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/demand/search.css' %}">
{% endblock css %} {% block content %}
<form method="GET">
  {{register_filter.form.as_div}}
  <div>
    <label for="page_num">표시 개수:</label>
    <select name="page_num">
      <option value="20" {% if page_num == "20" %}selected{% endif %}>20</option>
      <option value="50" {% if page_num == "50" %}selected{% endif %}>50</option>
      <option value="100" {% if page_num == "100" %}selected{% endif %}>100</option>
    </select>
  </div>
  
  <div id="special_functions">
    <input type="submit" value="검색" class="btn btn-dark special_function">
    <a class="btn btn-success special_function" href="{{download_url}}" download>엑셀 다운로드</a>
    <a class="btn btn-primary special_function" href="{{table_view_url}}" target="_blank">표로 보기</a>
  </div>
</form>

<table id="search_results" border="1">
  <tr>
    <th>전체상태</th>
    <th>접수</th>
    <th>입고일</th>
    <th>차량번호</th>
    <th>차종</th>
    <th>국산/수입</th>
    <th>담당자</th>
    <th>타입</th>
    <th>보험사</th>
    <th>청구금엑</th>
    <th>입금액</th>
    <th>지급율</th>
    <th>출고</th>
    <th>청구</th>
    <th>입금</th>
    <th>상태</th>
    <th>완료</th>
  </tr>
{% for register in registers %}
{% include "demand/modules/register.html" %}
{% endfor %}
</table>
{% with request.GET as params %}
  {% with params|remove_page_param as params_without_page %}
  <div class="pagination">
    <span class="step-links">
    {% if registers.has_previous %}
      <a href="?{{ params_without_page }}&page=1">&laquo; first</a>
      <a href="?{{ params_without_page }}&page={{registers.previous_page_number}}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ registers.number }} of {{ registers.paginator.num_pages }}.
    </span>
    {% if registers.has_next %}
      <a href="?{{ params_without_page }}&page={{registers.next_page_number}}">next</a>
      <a href="?{{ params_without_page }}&page={{registers.paginator.num_pages}}">last &raquo;</a>
    {% endif %}
    </span>
  </div>
  {% endwith %}
{%endwith %}
{% endblock content %}
