@import url("../modules/input.css");
@import url("../forms/edit_order_form.css");

main.container {
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

form#edit_order_form {
  width: 800px;
}

form#edit_order_form > div {
  display: flex;
  justify-content: space-between;

  width: 100%;

  flex-wrap: wrap;
}

form#edit_order_form > div > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin-top: 5px;
}

form#edit_order_form > div > div label {
  display: flex;

  width: 110px;
}

button#complete {
  width: var(--normal_width);
  margin-top: 30px;
  margin-bottom: 50px;
}

#id_deposit_note {
  width: 200px;
  height: 60px;
  padding: 5px;
}
