@import url("./new_register.css");
.order_edit_formset_entity {
  display: flex;

  width: 100%;
  margin-bottom: 30px;

  flex-wrap: wrap;
}
.order_edit_formset_entity > h3 {
  width: 80%;
  margin-top: 10px;
  margin-left: 30px;
}
.order_edit_formset_entity > div {
  display: flex;
  justify-content: center;

  width: 50%;
  margin-bottom: 5px;
}

.order_edit_formset_entity > div > div {
  display: flex;
  justify-content: space-between;

  width: 400px;
}

#register_form > div > label,
.order_edit_formset_entity > div > label {
  display: flex;

  width: 110px;
}

#edit_special_register_form {
  display: flex;
  justify-content: space-between;

  width: 600px;
  margin-bottom: 30px;
}

#edit_special_register_form > div {
  display: flex;
  align-items: center;

  width: 200px;
}

#edit_special_register_form input[type="checkbox"] {
  width: 50px;
}

hr {
  width: 100%;
  height: 2px;

  background-color: #000000;
}

#additional_order {
  width: 100%;

  text-align: center;
}
