@import url("./new_register.css");
@import url("../forms/edit_order_form.css");

#formset > div > label {
  display: flex;

  width: 110px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2#edit_order_formset_title {
  margin-bottom: 0px;
}

#edit_special_register_form {
  justify-content: center !important;

  margin-bottom: 30px;
}

#edit_special_register_form > div {
  display: flex;
  align-items: center;

  width: 200px;
}

#edit_special_register_form input[type="checkbox"] {
  width: 50px;
}
#edit_special_register_form label {
  display: flex;
  justify-content: flex-end;
}

textarea.deposit_note {
  width: 200px;
  height: 60px;
  padding: 5px;
}

hr.edit_order_hr {
  width: 100%;
  margin-top: 50px;

  background-color: #000000;
}

#additional_order {
  width: 100%;

  text-align: center;
}
