@import url("./search.css");
@import url("../demand/hover_note.css");

#incentive_search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  margin-top: 40px;
}

#incentive_filter input[type="date"],
#incentive_filter select {
  width: 130px;
}
#incentive_filter input {
  width: 80px;
}

#incentive_filter select[name="incentive_paid"] {
  width: 50px;
}

#incentive_filter > div > label {
  display: flex;
  justify-content: center;

  margin-right: 0px;
}

#incentive_filter > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 5px;
}

#incentive_search_form label {
  margin-right: 20px;
}
#incentive_search_form > div {
  display: flex;
  align-items: center;
}

#incentive_search_form #incentive_search_button {
  width: 60px;
}

#formset {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 800px;
}

#info_box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 700px;
  margin: 20px 0px;

  font-size: 20px;
}
#info_box button {
  max-height: 60px;
}

.info {
  display: flex;
  justify-content: center;
}

.info p {
  margin: 0px;

  font-weight: 600;
}

.info label {
  margin-right: 10px;
}

#turnover_info {
  color: var(--orange);
}

#incentive_info {
  color: var(--blue);
}

#formset .incentive {
  width: 60px;
}

th#turnover_header {
  background-color: #ffc107;
}

th#incentive_header {
  background-color: var(--blue);
}

#formset .incentive input {
  width: 60px;
}
