@import url("./edit_common.css");
@import url("../modules/input.css");
@import url("./modals/car_number_modal.css");

#register_form > #car_number_button_box {
  justify-content: flex-start;
}

#car_number_button {
  position: relative;
  left: 40px;
  bottom: 5px;
}

.new_order {
  position: relative;

  margin-bottom: 30px;
}

.new_order button.delete_order {
  position: absolute;
  top: 0px;
  right: 0px;
}

#register_form > div,
.new_order > div {
  display: flex;
  justify-content: center;

  width: 400px;
  margin-top: 5px;
}
