@import url("../modules/input.css");

input,
select {
  border-radius: 0px;
  width: 200px;
  height: 30px;

  text-align: center;

  border: 1px solid black;
}

input[type="checkbox"] {
  width: 200px;
}

#formset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#register_form,
#order_formset,
#order_edit_formset {
  display: flex;
  justify-content: space-between;

  width: var(--normal_width);

  flex-wrap: wrap;
}

.new_order {
  margin-bottom: 30px;
}
#register_form > div,
.new_order > div {
  display: flex;
  justify-content: center;

  width: 400px;
  margin-top: 5px;
}

#register_form > div > label,
.new_order > div > label {
  display: flex;

  width: 110px;
}

#add_button {
  width: var(--normal_width);
  height: 40px;
  margin-top: 30px;
}

button#complete {
  width: var(--normal_width);
  margin-top: 30px;
  margin-bottom: 50px;
}

#register_note_form {
  display: flex;
  justify-content: center;

  width: 600px;
}

#register_note_form textarea {
  width: 100%;
}
