@import url("../modules/input.css");
@import url("modules/register.css");

form {
  display: flex;

  width: 100%;
  padding: 30px 0px;

  flex-wrap: wrap;
}
form > div {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin-bottom: 5px;
}
form > div > label {
  display: flex;
  justify-content: flex-end;

  width: 100px;
}

input[type="submit"] {
  height: auto;
}
#special_functions {
  justify-content: space-evenly;

  width: 100%;
  margin-top: 25px;
}
.special_function {
  width: 30%;
}

.paginator {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 30px;
}
.paginator a {
  color: var(--blue);
  text-decoration: none;
}
.paginator a:hover {
  text-decoration: underline;
}
.paginator a.end_page {
  color: var(--orange);
}

#search_results {
  margin-bottom: 100px;
}

#search_results td,
#search_results th {
  padding: 5px;

  text-align: center;

  border: 1px solid black;

  vertical-align: middle;
  white-space: nowrap;
}

#search_results th {
  font-weight: 700;

  color: white;
  background-color: var(--orange);
}

table {
  width: 100%;
}
