@import url("../modules/input.css");
@import url("modules/register.css");
@import url("./modals/came_out_modal.css");
@import url("./modals/charge_modal.css");
@import url("./modals/deposit_modal.css");
@import url("../demand/hover_note.css");

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search_form {
  display: flex;

  max-width: 1200px;
  width: 100%;
  padding: 30px 0px;

  flex-wrap: wrap;
}
#search_form > div {
  display: flex;
  justify-content: space-between;

  width: 300px;
  margin-bottom: 5px;
}
#search_form > div > label {
  display: flex;
  justify-content: flex-start;

  width: 100px;
  margin-left: 20px;
}

input,
select {
  width: 180px;
}

input[type="submit"] {
  height: auto;
}

#search_form > #special_functions {
  justify-content: space-evenly;

  width: 100%;
  margin-top: 25px;
}
.special_function {
  width: 30%;
}

.paginator {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 30px;
}

.paginator a {
  margin: 0px 5px;

  color: var(--blue);

  text-decoration: none;
}
.paginator a:hover {
  text-decoration: underline;
}
.paginator a.end_page {
  color: var(--orange);
}

.paginator span.step-links {
  display: flex;
}

.paginator span.current {
  display: flex;
  align-items: center;
}
input#page_number_input {
  width: 60px;
  padding: 0px;

  outline: none;
  border: none;
}
input#page_number_input:focus {
  color: #198754;
}

#number_of_pages {
  width: 33px;
  margin: 0px 10px;
}

.paginator #page_number_input_box {
  position: absolute;
  left: calc(50% - 125px);
  bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  width: 250px;
  height: 80px;

  border: 1px solid black;
  border: 1px solid black;

  background-color: white;
}

.paginator #page_number_input_box.inactive {
  display: none;
}

.paginator #page_number_move_button {
  margin-right: 10px;
}

span.current > div {
  margin: 0px 5px;
}

span.current #page_number_button {
  cursor: pointer;
}

#search_results {
  margin-bottom: 100px;
}

#search_results td,
#search_results th {
  padding: 5px;

  text-align: center;

  border: 1px solid black;

  vertical-align: middle;
  white-space: nowrap;
}

#search_results th {
  font-weight: 700;

  color: white;
  background-color: var(--orange);
}

table {
  width: 100%;
}

.came_out_button {
  cursor: pointer;
}

.charge_button {
  cursor: pointer;
}

.deposit_button {
  cursor: pointer;
}
