<h2 class="title">{% block title %}{% endblock title %}</h2>
<form id="goals_formset" method="POST" data-formset-prefix="{{ goal_formset.prefix }}">
    <a href="" class="go_left go_chevron"><img src="{% static 'images/left_chevron.svg' %}"></a>
    {% csrf_token %}
    {{goal_formset.management_form}}
    <div data-formset-body>
        {% for form in goal_formset %}
        <div data-formset-form class="">
            {{form.id}}
            {{form.content}}
            {{form.completion_rate}}
        </div>
        {% endfor %}
    </div>
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form class="new_goal">
            {{ goal_formset.empty_form.content}}
            {{ goal_formset.empty_form.completion_rate}}
        </div>
        {% endescapescript %}
    </script>

    <!-- This button will add a new form when clicked -->
    <input type="button" class="btn btn-success mt-2" value="Add another" data-formset-add>

    <script>jQuery(function($) {
        $("#goals_formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>
    <button class="go_right go_chevron"><img src="{% static 'images/right_chevron.svg' %}"></button>
</form>
{% endblock content %}

