{% load static %}
<header>
    <div id="inner_header" class="container">
        <div id="inner_header_left">
            <a id="home_link" href="{% url 'home'%}"><img src="{% static 'images/scar_tech.png'%}"></a>
            <a class="header_link" href="{% url 'demand:new_register'%}">입고</a>
            <a class="header_link" href="{% url 'demand:search_registers'%}">등록 검색</a>
            <a class="header_link" href="{% url 'demand:search_orders'%}">매출 검색</a>
            <a class="header_link" href="{% url 'demand:extra_sales'%}">기타 매출</a>
        </div>
        <div id="inner_header_right">
            <a class="header_link" href="{% url 'logout'%}">로그아웃</a>
        </div>
    </div>
</header>