{% load humanize%}
<table class="insurance" border="1">
    <tr>
      <th colspan="2">입고대수</th>
      {% for x in "xxx" %}<th>수입</th><th>국산</th><th>계</th>{% endfor %}
    </tr>
    <tr>
      <th rowspan="5">보험</th>
      <th>삼성</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_orders'%}charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=수입&charged_company=85">{{monthly_sales.number_of_abroad_samsung_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=국산&charged_company=85">{{monthly_sales.number_of_domestic_samsung_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}charge_type=보험&{{monthly_sales.get_date_query}}&charged_company=85">{{monthly_sales.number_of_abroad_samsung_insurances|add:monthly_sales.number_of_domestic_samsung_insurances|intcomma}}</a></a></td>
      {% endfor %}
    </tr>
    <tr>
      <th>동부</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=수입&charged_company=84">{{monthly_sales.number_of_abroad_dongbu_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=국산&charged_company=84">{{monthly_sales.number_of_domestic_dongbu_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&charged_company=84">{{monthly_sales.number_of_abroad_dongbu_insurances|add:monthly_sales.number_of_domestic_dongbu_insurances|intcomma}}</a></td>
      {% endfor %}
    </tr>
    <tr>
      <th>메리츠</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=수입&charged_company=103">{{monthly_sales.number_of_abroad_meritz_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=국산&charged_company=103">{{monthly_sales.number_of_domestic_meritz_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&charged_company=103">{{monthly_sales.number_of_abroad_meritz_insurances|add:monthly_sales.number_of_domestic_meritz_insurances|intcomma}}</a></td>
      {% endfor %}
    </tr>
    <tr>
      <th>기타</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_etc_insurances_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=수입">{{monthly_sales.number_of_abroad_etc_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_etc_insurances_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=국산">{{monthly_sales.number_of_domestic_etc_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_etc_insurances_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}">{{monthly_sales.number_of_abroad_etc_insurances|add:monthly_sales.number_of_domestic_etc_insurances|intcomma}}</a></td>
      {% endfor %}
    </tr>
    <tr>
      <th>계</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=수입">{{monthly_sales.number_of_abroad_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}&abroad_type=국산">{{monthly_sales.number_of_domestic_insurances|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=보험&{{monthly_sales.get_date_query}}">{{monthly_sales.number_of_abroad_insurances|add:monthly_sales.number_of_domestic_insurances|intcomma}}</a></td>
      {% endfor %}
    </tr>
    <tr>
      <th colspan="2">렌트</th>
      {% for monthly_sales in chunk %}
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=렌트판도&{{monthly_sales.get_date_query}}&abroad_type=수입">{{monthly_sales.number_of_abroad_rent|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=렌트판도&{{monthly_sales.get_date_query}}&abroad_type=국산">{{monthly_sales.number_of_domestic_rent|intcomma}}</a></td>
      <td><a target='_blank' href="{% url 'demand:search_orders'%}?charge_type=렌트판도&{{monthly_sales.get_date_query}}">{{monthly_sales.number_of_abroad_rent|add:monthly_sales.number_of_domestic_rent|intcomma}}</a></td>
      {% endfor %}
    </tr>
    <tr>
      <th colspan="2">총계</th>
      {% for monthly_sales in chunk %}
      <td>{{monthly_sales.number_of_abroad_insurances|add:monthly_sales.number_of_abroad_rent|intcomma}}</td>
      <td>{{monthly_sales.number_of_domestic_insurances|add:monthly_sales.number_of_domestic_rent|intcomma}}</td>
      <td>{{monthly_sales.number_of_abroad_insurances|add:monthly_sales.number_of_domestic_insurances|add:monthly_sales.number_of_abroad_rent|add:monthly_sales.number_of_domestic_rent|intcomma}}</td>
      {% endfor %}
    </tr>
  </table>