{% load humanize%}
{% load custom_filters %}
<table class="payment" border="1">
    <tr>
      <th style="border-right:none; text-align:end;">청구/입금</th>
      <th style="border-left:none; text-align:start;">(단위 : 1,000)</th>
      {% for x in "xxx" %}<th>청구</th><th>입금</th><th>미수</th>{% endfor %}
    </tr>
    <tr>
      <th colspan="2">금액</th>
      {% for monthly_sales in chunk %}
      <td>{{monthly_sales.charge_amount|intcomma}}</td>
      <td>{{monthly_sales.deposit_amount|intcomma}}</td>
      <td>{{monthly_sales.attempted_amount|intcomma}}</td>
    {% endfor %}
    </tr>
    <tr>
      <th colspan="2">면책금</th>
      {% for monthly_sales in chunk %}
      <td>{{monthly_sales.net_payment_sales|intcomma}}</td>
      <th>미수율</th>
      <td>{{monthly_sales.attempted_amount|get_percent:monthly_sales.charge_amount}}</td>
    {% endfor %}
    </tr>
  </table>