<table class="period_sales" border="1">
    <tr>
      <th colspan="2" rowspan="2">구분 (단위 : 1,000)</th>
      <th colspan="3">1월</th>
      <th colspan="3">2월</th>
      <th colspan="3">3월</th>
    </tr>
    <tr>
      {% for x in "XXX" %}<th>입금</th><th>미입금</th><th>계</th>{% endfor %}
    </tr>
    <tr>
      <th rowspan="7">매출</th>
      <th>보험</th>
    </tr>
    <tr>
      <th>렌트일반</th>
    </tr>
    <tr>
      <th>렌트판도</th>
    </tr>
    <tr>
      <th>일반판도</th>
    </tr>
    <tr>
      <th>일반경정비</th>
    </tr>
    <tr>
      <th>인정매출</th>
    </tr>
    <tr>
      <th>계</th>
    </tr>
    <tr>
      <th colspan="2">공임매출</th>
    </tr>
    <tr>
      <th colspan="2">부품매출</th>
    </tr>
  </table>
