{% load custom_filters %}
<canvas id="wage_sale_graph" style="width:400px;height:550px;"></canvas>
<script>
const wageSaleGrpah = document.getElementById('wage_sale_graph');
new Chart(wageSaleGrpah, {
    type: 'bar',
    data: {
      labels: [{% for monthly_sale in monthly_sales %}"{{monthly_sale.month}}월",{% endfor %}],
      datasets: [{
        label: '공임 매출',
        data: [{% for monthly_sale in monthly_sales %}{{monthly_sale.wage_turnover|per_thousand}},{% endfor %}],
        backgroundColor: "#800000",
        borderWidth: 1
      }]
    },
    options: {
      responsive:false,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>