{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/differences.css' %}">
{% endblock css %}
{% block content %}
<div style='height:50px;'></div>
<h1>비교 결과</h1>
<div>
    <h2>RO</h2>
    {% for RO_number, check_list in list_of_register_check_list.items %} 
        <h5 class="card-title" style="margin-top:15px;margin-bottom:5px;">[RO {{RO_number}}]</h5>
        <ul class="list-group">
        {% for problem_point, value in check_list.items %}
            <li class="list-group-item">{{problem_point}} | {{value}}</li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>EXCEL과 정보가 일치하지 않는 RO가 없습니다.</p>
    {% endfor %}
    <h2>기타매출</h2>
    {% for car_number_and_day_came_in, check_list in list_of_extra_sales_check_list.items %} 
        <h5 class="card-title" style="margin-top:15px;margin-bottom:5px;">[{{car_number_and_day_came_in}}]</h5>
        <ul class="list-group">
        {% for problem_point, value in check_list.items %}
            <li class="list-group-item">{{problem_point}} | {{value}}</li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>EXCEL과 정보가 일치하지 않는 기타매출이 없습니다.</p>
    {% endfor %}
</div>
{% endblock content %}