{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block javascript %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock javascript %}
{% block content %}
<form class="period_filter" method="GET">
  {{period_filter_form.year}}
  {{period_filter_form.half}}
  <button class="btn btn-info">검색</button>
  <a class="btn btn-success" href="{% url 'update_period_sales' %}?half={{period_filter_form.half.value}}&year={{period_filter_form.year.value}}">업데이트</a>
</form>
<div class="top_summary">
  {% include 'modules/whole_sale_graph.html' %}
  {% include 'modules/wage_sale_graph.html' %}
  {% include 'modules/total_sum_table.html' %}
</div>
<div class="chunks">
{% for chunk in chunks %}
{% include 'modules/period_sales_table.html' %}
{% include 'modules/insurance_table.html' %}
{% include 'modules/payment_table.html' %}
{% endfor%}
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="module" src="{% static 'js/home.js' %}"></script>
{% endblock inline_javascript %}