{% extends "base.html" %}
{% load formset_tags %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block content %}
<a href="{% url 'home' %}"><h1>입고</h1></a>
<form id="formset" method="POST" data-formset-prefix="{{order_formset.prefix}}">
    {% csrf_token %}
    <div id="register_form">
        {{register_form}}
    </div>
    {{order_formset.management_form}}
    <div data-formset-body id="order_formset">
        {% for form in order_formset %}
        <div data-formset-form class="new_order">
            {{form}}
        </div>
        {% endfor %}
    </div>
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <div data-formset-form class="new_order">
            {{order_formset.empty_form}}
        </div>
        {% endescapescript %}
    </script>
    <input id="add_button" type="button" class="btn btn-success" value="Add another" data-formset-add>
    <script>jQuery(function($) {
        $("#formset").formset({
            animateForms: true,
            reorderMode: 'dom',
        });
    });</script>
    <button>완료</button>
</form>
{% endblock content %}
{% block footer%}
{% include "modules/footer.html" %}
{% endblock footer%}