{% extends "base.html" %}
{% load static %}
{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/quote.css' %}">
{% endblock css %}
{% block content %}
<a id="mj23" href="{% url 'home' %}">MJ23</a>
<a class="content" href="{% url 'quote_random' %}">{{quote.content|linebreaksbr}}</a>
<a class="author" href="{% url 'quote_edit' quote.pk%}">{{quote.get_author_info}}</a>
{% endblock content %}
{% block inline_javascript %}
<script src="{% static 'js/adjust_quote_lines.js' %}"></script>
{% endblock inline_javascript %}