{% extends "modules/custom_modal.html"%}
{% block modal_content %}
<form class="modal-content" method="POST" action="{% url 'demand:charge_modal' order.pk %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">[{{order.register.RO_number}}] {% if order.charge %}청구-{{order.order_index}} 정보 수정{% else %}청구 처리{% endif %}</h5>
        <button type="button" class="btn-close close_modal" data-bs-dismiss="modal" aria-label="닫기"></button>
    </div>
    <div class="modal-body">
        <p class="modal_sector_info">1센터 처리 여부</p>
        <div class="modal_checkboxes">
            {{first_center_register_form.as_div}}
        </div>
        <p class="modal_sector_info">청구</p>
        <div class="modal_inputs">
            {{charge_form.as_div}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_modal" data-bs-dismiss="modal">닫기</button>
        {% if order.charge %}
        <a type="button" href="{% url 'demand:delete_charge' order.charge.pk %}" class="btn btn-danger">삭제</a>
        {% endif %}
        <button class="btn btn-success">청구</button>
    </div>
</form>
{% endblock modal_content %}