{% extends "modules/custom_modal.html"%}
{% block modal_content %}
<form class="modal-content" method="POST" action="{% url 'demand:deposit_modal' order.pk %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">[{{order.register.RO_number}}] {% if order.deposit %}입금-{{order.order_index}} 정보 수정{% else %}입금 처리{% endif %}</h5>
        <button type="button" class="btn-close close_modal" data-bs-dismiss="modal" aria-label="닫기"></button>
    </div>
    <div class="modal-body">
        <p class="modal_sector_info">입금 정보</p>
        <div class="modal_inputs">
            {{deposit_form.as_div}}
            <input type='hidden' id="charge_amount" value="{{order.get_charge_amount}}">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_modal" data-bs-dismiss="modal">닫기</button>
        {% if order.deposit %}
        <a type="button" href="{% url 'demand:delete_deposit' order.deposit.pk %}" class="btn btn-danger">삭제</a>
        {% endif %}
        <button class="btn btn-success">입금</button>
    </div>
</form>
{% endblock modal_content %}