{% extends "modules/custom_modal.html"%}
{% block modal_content %}
<form class="modal-content" method="POST" action="{% url 'demand:deposit_modal' order.pk %}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">[{{order.register.RO_number}}] {% if order.deposit %}입금-{{order.order_index}} 정보 수정{% else %}입금 처리{% endif %}</h5>
        <button type="button" class="btn-close close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h2>DEPOSIT MODAL!</h2>
        {{deposit_form.as_div}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary close_modal" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">입금</button>
    </div>
</form>
{% endblock modal_content %}